/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  font-family: var(--accent-font-family);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #000;
  padding: var(--header-padding);
  inline-size: var(--header-size);
  min-block-size: 368px;
  margin-top: 100px;
}

.header__logo {
  font-size: var(--font-size-logo);
}

.header__title {
  font-size: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  line-height: 100%;
  text-transform: uppercase;
}

.cards__title {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  padding: 4px 10px;
  font-variation-settings: "wght" 715;
}

.content {
  margin-top: 98px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #000;
  min-inline-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
}

.card {
  display: flex;
  align-items: center;
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__image {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  inline-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  object-fit: cover;
  object-position: center;
}

.filter-blur {
  filter: blur(1.5px);
}

.filter-sepia {
  filter: sepia(0.7);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-contrast {
  filter: contrast(2);
}

.filter-saturate {
  filter: saturate(3);
}

.filter-multiple {
  filter: sepia(0.4) hue-rotate(75deg) contrast(2.2) saturate(1);
}

.filter-invert {
  filter: invert(1);
}

.filter-ultramarine-emerald {
  filter: hue-rotate(245deg) saturate(1.9) contrast(1.6) brightness(0.88)
    sepia(0.15) blur(0.1px);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.description__text {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-variation-settings: "wght" 410, "wdth" 100;
  margin: 0;
}

.card__controls {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-variation-settings: "wght" 400;
  padding: 0 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  transition: outline 0.3s linear;
}

.card__like-button {
  background-color: transparent;
  padding: 9px 17px;
  margin-bottom: 25px;
  min-inline-size: 130px;
}

.card__image-wrapper {
  top: 25px;
  right: 25px;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  position: absolute;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--accent-font-family);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.button {
  border: 2px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-hover-bg);
  position: relative;
  color: var(--button-text-color);
  font-family: var(--accent-font-family);
  transition: outline 0.3s linear;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.card:focus,
.button:focus {
  outline: none;
}

.card:focus-visible,
.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  transition: 0.3s ease;
}

.save__button {
  display: flex;
  justify-content: center;
}

.card__icon-button:hover {
  cursor: pointer;
}

.button__type-save {
  gap: 8px;
  min-block-size: 55px;
  inline-size: 335px;
  margin-bottom: 100px;
  cursor: pointer;
  color: #000;
}

.card__like-button::before,
.button__type-save::before,
.button__dialog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-bg-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.card__like-button:hover::before,
.button__dialog:hover::before,
.button__type-save:hover::before {
  transform: scaleX(1);
}

.button__dialog {
  width: 100%;
  min-height: 38px;
  margin-top: 30px;
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
  position: relative;
}

.button__type-save svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.dialog {
  border: 2px solid #000;
  background: #fff;
  max-width: 353px;
  padding: 30px 40px;
  font-family: var(--accent-font-family);
}

.dialog-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-text {
  max-width: 260px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

.dialog:not([open]) {
  display: none;
}

.sparks {
  opacity: 0;
}

.icon {
  width: 21px;
  height: 21px;
}

.icon-big {
  width: 39px;
  height: 39px;
  display: block;
  flex-shrink: 0;
}

@media (width <= 375px) {
  .button__type-save {
    min-block-size: 84px;
    inline-size: 306px;
    flex-direction: column;
    padding: 15px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or
  (text-stroke: 1px var(--text-stroke-color)) {
  .card__image-wrapper {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}
